* {
    box-sizing: border-box;
    font-family: ;
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/Open_sans_font/OpenSans-Regular.ttf") format("ttf");
}

/*
@media (min-width: 360) {
    .container {
        max-width: 360;
    }
}
*/

ul {
    text-transform: uppercase;
}

.title {
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    text-transform: uppercase;
}

/* header start */
/* nav start */

#header {
    background-image: url(/assets/images/bg-header.png);
    background-position: center;
    height: 898px;
}
nav {
    height: 90px;
    background-color: rgba(0, 0, 0, .5);
}



ul {
    display: flex;
    list-style-type: none;
}

/* nav end */

/* section GEN start */


#gen {
    height: 481px;
    background-color: white;
}



.btn-more {
    text-align: center;
    margin-top: 52px;
    width: 200px;
}

/* section GEN end */
/* section head end */


/* section Un enseignement adapté start*/

#enseignement {
    height: 445px;
    background-image: url(/assets/images/projet-collaboratif-bg.png);
    color: white;
}

/* section Un enseignement adapté end*/

/* section À chacun son métier start */

#projet {
    height: 577px;
    background-color: rgb(62, 62, 62);
    color: white;
}

/* section À chacun son métier end */


/* section À chacun son projet start */

#titre-pro {
    background-color: white;
    height: 453px;
}


/* section À chacun son projet end */